<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Pedidos - Vivero CIFP La Laboral</title>
    <link rel="stylesheet" href="css/vivero.css">
    <link rel="stylesheet" href="css/vivero-admin.css">
    <link rel="stylesheet" href="css/gestion-pedidos.css">
    <link rel="stylesheet" href="css/footer.css"> 
</head>
<body>

    <header>
		<img class="logo" src="img/logo-vivero.png" alt="Logo vivero">
		<div th:text="#{header.logo}">VIVERO CIFP LA LABORAL</div>
		<nav>
			<a th:if="${nombreUsuario == 'admin'}" href="/inicio-admin" th:text="#{nav.inicio}">INICIO</a>
			<a th:if="${nombreUsuario != 'admin'}" href="/inicio-personal" th:text="#{nav.inicio}">INICIO</a> 
			<a th:if="${nombreUsuario == 'admin'}" href="/plantas-admin" th:text="#{nav.plantas}">PLANTAS</a> 
			<a href="/gestion-fitosanitarios" th:text="#{nav.fitosanitarios}">FITOSANITARIOS</a>
			<a href="/gestion-mensajes" th:text="#{nav.mensajes}">MENSAJES</a>
		</nav>
		<nav>
			<a href="?lang=es">Español</a> 
			<a href="?lang=en">English</a> 
			<a href="?lang=ast">Asturianu</a> 
			<a href="?lang=zh">Chino</a>
		</nav>
		<div class="admin-desplegable">
			<div class="circulo-perfil">
				<img th:src="${nombreUsuario == 'admin' ? 'img/fotoperfil-admin.png' : 'img/fotoperfil-personal.png'}" alt="Foto de perfil">
			</div>
			<div class="admin-desplegable-informacion">
			    <strong th:if="${nombreUsuario == 'admin'}">ADMIN</strong>
				<strong th:if="${nombreUsuario != 'admin'}" th:text="'Cliente : ' + ${UsuarioActual}"></strong>
				<a href="/logout" th:text="#{admin.dropdown.logout}">Cerrar sesion</a>
				<a th:if="${nombreUsuario == 'admin'}" href="/anadirpersonal" th:text="#{admin.dropdown.addStaff}">Anadir personal</a>
			</div>
		</div>
	</header>

	<main>
		<div class="container">
			<h1>Gestión de Pedidos</h1>

			<div class="pedido-filters">
				<form th:action="@{/gestion-pedidos}" method="get" class="filter-form">
					<select name="estado" class="filter-select">
						<option value="todos" th:selected="${estadoSeleccionado} == 'todos'">Todos los Pedidos</option>
						<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"
							    th:selected="${estado} == ${estadoSeleccionado}">
						</option>
					</select>
					<button type="submit" class="btn-filtrar">
					<img id="filtrar-estado" src="img/filtrar-estadoPedido.png" alt="Filtrar pedido">
					</button>
				</form>
			</div>

			<table class="pedido-table">
				<thead>
					<tr>
						<th>ID Pedido</th>
						<th>Cliente</th>
						<th>Fecha</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${pedidos}">
						<td th:text="${pedido.id}"></td>
						<td th:text="${pedido.cliente.nombre}"></td>
						<td th:text="${pedido.fechaPedido}"></td>
						<td>
							<form th:action="@{/modificar-estado}" method="post">
								<input type="hidden" name="pedidoId" th:value="${pedido.id}" />
								<select name="nuevoEstado" class="estado-select">
									<option th:each="estado : ${estados}" th:value="${estado}"
										th:text="${estado}" th:selected="${estado} == ${pedido.estado}">
									</option>
								</select>
						</td>
						<td>
							<button type="submit" class="btn-modificar">
							<img id="modificar-pedido" src="img/modificar-pedido.png" alt="Modificar pedido">
							</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>


	<footer>
        <div class="footer">
          <div class="footer-info">
              <p class="direccion" th:text="#{footer.direccion}">
                C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijón, Asturias
              </p>
              <p class="telefono" th:text="#{footer.telefono}">+34 634 23 36 87</p>
              <p class="email" th:text="#{footer.email}">contacto@viverolaboral.com</p>
          </div>
          <div class="horario">
              <h4 th:text="#{footer.horario.titulo}">Horario</h4>
              <p th:text="#{footer.horario.lunesViernes}">Lunes a Viernes: 9:00 - 20:00</p>
              <p th:text="#{footer.horario.sabados}">Sábados: 10:00 - 14:00</p>
          </div>
          <div class="redes-sociales">
            <a href="#"><img src="img/facebook.png" th:alt="#{social.facebook}" alt="Facebook" /></a>
            <a href="#"><img src="img/x.png" th:alt="#{social.x}" alt="X" /></a>
            <a href="#"><img src="img/instagram.png" th:alt="#{social.instagram}" alt="Instagram" /></a>
          </div>
        </div>
    </footer>

</body>
</html>
