<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador Vivero CIFP La Laboral</title>
    <link rel="stylesheet" href="css/vivero.css">
    <link rel="stylesheet" href="css/vivero-admin.css">
    <link rel="stylesheet" href="css/ejemplares-admin.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
	<header>
		<div class="logo" th:text="#{header.logo}">VIVERO CIFP LA LABORAL</div>
		<nav>
			<a th:if="${nombreUsuario == 'admin'}" href="/inicio-admin" th:text="#{nav.inicio}">INICIO</a>
			<a th:if="${nombreUsuario != 'admin'}" href="/inicio-personal" th:text="#{nav.inicio}">INICIO</a> 
			<a th:if="${nombreUsuario == 'admin'}" href="/plantas-admin" th:text="#{nav.plantas}">PLANTAS</a> 
			<a href="/gestion-fitosanitarios" th:text="#{nav.fitosanitarios}">FITOSANITARIOS</a>
			<a href="/gestion-mensajes" th:text="#{nav.mensajes}">MENSAJES</a>
		</nav>
		<nav>
			<a href="?lang=es">Español</a> 
			<a href="?lang=en">English</a> 
			<a href="?lang=ast">Asturianu</a> 
			<a href="?lang=zh">Chino</a>
		</nav>
		<div class="admin-desplegable">
			<div class="circulo-perfil">
				<img th:src="${nombreUsuario == 'admin' ? 'img/fotoperfil-admin.png' : 'img/fotoperfil-personal.png'}" alt="Foto de perfil">
			</div>
			<div class="admin-desplegable-informacion">
				<strong th:text="${nombreUsuario == 'admin' ? 'ADMIN' : 'PERSONAL'}"></strong>
				<a href="/inicio" th:text="#{admin.dropdown.logout}">Cerrar sesión</a> 
				<a th:if="${nombreUsuario == 'admin'}" href="/anadirpersonal" th:text="#{admin.dropdown.addStaff}">Anadir personal</a>
			</div>
		</div>
	</header>

	<div class="formularios-ejemplares">
        <div class="card">
            <form th:action="@{/gestion-ejemplares}" method="post">
                <img src="img/anadir-ejemplar.png" alt="Añadir ejemplar">
                <h2 class="titulos" th:text="#{admin.anadirEjemplar}">AÑADIR EJEMPLAR</h2>
                <div class="ejemplar">
                    <select id="selectAnadirEjemplar" name="planta" class="select" required>
                        <option value="" th:text="#{ejemplarAnadir.seleccionar.planta}">Selecciona una planta</option>
                        <option th:each="planta : ${plantas}" th:value="${planta.codigo}" th:text="${planta.nombreComun}"></option>
                    </select>
                    <button type="submit" class="boton" th:text="#{admin.anadirEjemplar}">Añadir Ejemplar</button>
                </div>
            </form>
        </div>
    
        <div class="card">
            <form th:action="@{/gestion-ejemplares/modificar}" method="post">
                <img src="img/modificar-ejemplar.png" alt="Modificar ejemplar">
                <h2 class="titulos" th:text="#{admin.modificarEjemplar}">MODIFICAR EJEMPLAR</h2>
                <div class="ejemplar">
                    <select id="selectModificarEjemplar" name="id_ejemplar" class="select" required>
                        <option value="" th:text="#{ejemplarModificar.seleccionar.ejemplar}">Selecciona el ejemplar a modificar</option>
                        <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.id}" th:text="${ejemplar.nombre}"></option>
                    </select>
                    <select id="selectNuevaPlantaEjemplar" name="planta" class="select" required>
                        <option value="" th:text="#{ejemplarModificar.seleccionar.planta}">Selecciona la nueva planta del ejemplar</option>
                        <option th:each="planta : ${plantas}" th:value="${planta.codigo}" th:text="${planta.nombreComun}"></option>
                    </select>
                    <button type="submit" class="boton" th:text="#{admin.modificarEjemplar}">Modificar Ejemplar</button>
                </div>
            </form>
        </div>
    
        <div class="card">
            <form th:action="@{/gestion-ejemplares/eliminar}" method="post">
                <img src="img/eliminar-ejemplar.png" alt="Eliminar ejemplar">
                <h2 class="titulos" th:text="#{admin.eliminarEjemplar}">ELIMINAR EJEMPLAR</h2>
                <div class="ejemplar">
                    <select id="selectEliminarEjemplar" name="id_ejemplar" class="select" required>
                        <option value="" th:text="#{ejemplarEliminar.seleccionar.ejemplar}">Selecciona un ejemplar</option>
                        <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.id}" th:text="${ejemplar.nombre}"></option>
                    </select>
                    <button type="submit" class="boton" th:text="#{admin.eliminarEjemplar}">Eliminar Ejemplar</button>
                </div>
            </form>
        </div>
    </div>    

	<div class="contenedor-listado">
    <h2 class="titulos" th:text="#{listado.ejemplares.titulo}">LISTADO DE EJEMPLARES</h2>
    <p th:text="#{listado.ejemplares.descripcion}">
        Gestiona y visualiza todos los ejemplares disponibles en nuestro vivero. Cada ejemplar es único y
        representa una instancia especifica de nuestras plantas, con sus propias caracteristicas y estado
        de crecimiento particular.
    </p>

		<form method="GET" action="/gestion-ejemplares" class="filtro-formulario">
			<label for="nombreComun" class="filtro-label" th:text="#{filtrar.planta}">Filtrar por planta (nombre común):</label> 
				<select name="nombreComun" id="nombreComun" class="filtro-select">
				<option value="" th:text="#{seleccionar.planta}">-- Seleccionar planta --</option>
				<option th:each="planta : ${plantas}" th:value="${planta.nombreComun}" th:text="${planta.nombreComun}"></option>
			</select>
			<button type="submit" class="filtro-button" th:text="#{filtrar}">Filtrar</button>
		</form>

		<table class="tabla-ejemplares">
        <thead>
            <tr>
                <th th:text="#{ejemplares.planta}">Planta</th>
                <th th:text="#{ejemplares.nombre}">Nombre Ejemplar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ejemplar : ${ejemplares}">
                <td th:text="${ejemplar.planta.nombreComun}"></td>
                <td th:text="${ejemplar.nombre}"></td>
            </tr>
        </tbody>
     </table>
    </div>

    <div class="contenedor-listado">
        <h2 class="titulos" th:text="#{listado.mensajesejemplares.titulo}">LISTADO DE MENSAJES DE EJEMPLARES</h2>
        <p th:text="#{listado.mensajesejemplares.descripcion}">Aquí puedes ver y gestionar todos los mensajes relacionados con los ejemplares del vivero. 
            Los usuarios pueden consultar sobre ejemplares en especifico.
        </p>

            <form method="GET" action="/gestion-ejemplares" class="filtro-formulario">
                <label for="nombre" class="filtro-label" th:text="#{filtrar.ejemplar}">Filtrar por ejemplar (nombre):</label> 
                    <select name="nombre" id="nombre" class="filtro-select">
                    <option value="" th:text="#{seleccionar.ejemplar}">-- Seleccionar ejemplar --</option>
                    <option th:each="ejemplar : ${ejemplares}" th:value="${ejemplar.nombre}" th:text="${ejemplar.nombre}"></option>
                </select>
                <button type="submit" class="filtro-button" th:text="#{filtrar}">Filtrar</button>
            </form>

            <table class="tabla-mensajesejemplares">
            <thead>
                <tr>
                    <th th:text="#{mensajes.ejemplares.fechahora}">Fecha/Hora</th>
                    <th th:text="#{mensajes.ejemplares.mensaje}">Mensaje</th>
                    <th th:text="#{mensajes.ejemplares.ejemplar}">Ejemplar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mensaje : ${mensajes}">
                    <td th:text="${mensaje.fechahora}"></td>
                    <td th:text="${mensaje.mensaje}"></td>
                    <td th:text="${mensaje.ejemplar != null ? mensaje.ejemplar.nombre : 'No asignado'}"></td>
                </tr>
            </tbody>
         </table>
        </div>
        
	<footer>
        <div class="footer">
          <div class="footer-info">
              <p class="direccion" th:text="#{footer.direccion}">
                C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijón, Asturias
              </p>
              <p class="telefono" th:text="#{footer.telefono}">+34 634 23 36 87</p>
              <p class="email" th:text="#{footer.email}">contacto@viverolaboral.com</p>
          </div>
          <div class="horario">
              <h4 th:text="#{footer.horario.titulo}">Horario</h4>
              <p th:text="#{footer.horario.lunesViernes}">Lunes a Viernes: 9:00 - 20:00</p>
              <p th:text="#{footer.horario.sabados}">Sábados: 10:00 - 14:00</p>
          </div>
          <div class="redes-sociales">
            <a href="#"><img src="img/facebook.png" th:alt="#{social.facebook}" alt="Facebook" /></a>
            <a href="#"><img src="img/x.png" th:alt="#{social.x}" alt="X" /></a>
            <a href="#"><img src="img/instagram.png" th:alt="#{social.instagram}" alt="Instagram" /></a>
          </div>
        </div>
    </footer>
    
</body>
</html>