<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión y Registro</title>
    <link rel="stylesheet" href="css/iniciosesion-registrarse.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>

    <div class="container" id="login" th:if="${!mostrarRegistro}">
        <h2 th:text="#{login}">Iniciar Sesion</h2>
        <form th:action="@{/login}" method="post">
            <label for="usuario">Nombre de usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu nombre de usuario" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required>

            <button type="submit" th:text="#{login}">Iniciar Sesion</button>
        </form>
        <div class="link">
            <p>¿No tienes una cuenta? <a th:href="@{/iniciosesion-registrarse(action='registro')}" th:text="#{register}">Registrate</a></p>
        </div>
    </div>

    <div class="container" id="registro" th:if="${mostrarRegistro}">
        <h2 th:text="#{register}">Registrarse (Nuevo Cliente)</h2>
        <form th:action="@{/registro}" method="post">
            <label for="nombre">Nombre Completo</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre completo" required>

            <label for="nif_nie">NIF/NIE</label>
            <input type="text" id="nif_nie" name="nif_nie" placeholder="Ingresa tu NIF o NIE, Ej:(12345678A/X1234567T)" required>

            <label for="usuario">Nombre de usuario</label>
            <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu nombre de usuario" required>

            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Crea una contraseña" required>

            <button type="submit" th:text="#{register}">Registrarse</button>
        </form>
        <div class="link">
            <p>¿Ya tienes una cuenta? <a th:href="@{/iniciosesion-registrarse(action='login')}" th:text="#{login}">Inicia Sesion</a></p>
        </div>
    </div>

    <br>

    <footer>
        <div class="footer">
            <p class="direccion">C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijón, Asturias</p>
            <p class="telefono">+34 634 23 36 87</p>
            <p class="email">contacto@viverolaboral.com</p>
            
            <div class="redes-sociales">
                <a href="#"><img src="img/facebook.png" alt="Facebook" /></a>
                <a href="#"><img src="img/x.png" alt="X" /></a>
                <a href="#"><img src="img/instagram.png" alt="Instagram" /></a>
            </div>
        </div>
    </footer>

    <script src="js/iniciosesion-registrarse.js"></script>

</body>
</html>