<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Planta(Admin)</title>
    <link rel="stylesheet" href="css/vivero.css">
    <link rel="stylesheet" href="css/vivero-admin.css">
    <link rel="stylesheet" href="css/plantas-adminFormularios.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/error-mensaje.js"></script>
</head>
<body>
    <header>
        <div class="logo" th:text="#{header.logo}">VIVERO CIFP LA LABORAL</div>
        <nav>
            <a href="/inicio-admin" th:text="#{nav.inicio}">INICIO</a>
            <a href="/ejemplares-admin" th:text="#{nav.ejemplares}">EJEMPLARES</a>
            <a href="/fitosanitarios-admin" th:text="#{nav.fitosanitarios}">FITOSANITARIOS</a>
            <a href="/mensajes-admin" th:text="#{nav.mensajes}">MENSAJES</a>
        </nav>
        <nav>
			<a href="?lang=es">Español</a>
			<a href="?lang=en">English</a>
			<a href="?lang=ast">Asturianu</a>
			<a href="?lang=zh">Chino</a>
		</nav>
        <div class="admin-desplegable">
            <div class="circulo-perfil">
                <img src="img/fotoperfil-admin.png" alt="Foto de perfil del admin">
            </div>
            <div class="admin-desplegable-informacion">
				<strong th:text="#{admin.dropdown.admin}">ADMIN</strong> <a
					href="/inicio" th:text="#{admin.dropdown.logout}">Cerrar sesion</a>
				<a href="/anadirpersonal" th:text="#{admin.dropdown.addStaff}">Anadir personal</a>
			</div>
        </div>
    </header>

    <div class="container"> 
    <h1 class="titulo-form" th:text="#{admin.modificarPlanta}">MODIFICAR PLANTA</h1>
    <div class="form-container">
        <form th:action="@{/plantas-adminModificar}" th:object="${planta}" method="post" class="formulario">
            <div class="datos-plantas">
                <label for="codigo" th:text="#{plantas.codigo}">Codigo:</label>
                <input type="text" id="codigo" name="codigo" th:value="${codigo}" 
                       th:placeholder="#{placeholder.plantas.codigo}" pattern="[A-Za-z0-9]+" required autocomplete="off">
            </div>

            <div class="datos-plantas">
                <label for="nombreComun" th:text="#{plantas.nombreComun}">Nombre Comun:</label>
                <input type="text" id="nombreComun" name="nombreComun" th:value="${nombreComun}"
                       th:placeholder="#{placeholder.plantas.nombreComun}" required autocomplete="off">
            </div>

            <div class="datos-plantas">
                <label for="nombreCientifico" th:text="#{plantas.nombreCientifico}">Nombre Cientifico:</label>
                <input type="text" id="nombreCientifico" name="nombreCientifico" th:value="${nombreCientifico}" 
                th:placeholder="#{placeholder.plantas.nombreCientifico}" required autocomplete="off">
            </div>

            <button type="submit" class="btn-submit" th:text="#{admin.modificarPlanta}">MODIFICAR PLANTA</button>
        </form>
      </div>
   </div>


    <div id="error" th:text="${error}" style="display: none;"></div>
    <div id="mensaje" th:text="${success}" style="display: none;"></div> 
    
    <footer>
        <div class="footer">
          <div class="footer-info">
              <p class="direccion" th:text="#{footer.direccion}">
                C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijon, Asturias
              </p>
              <p class="telefono" th:text="#{footer.telefono}">+34 634 23 36 87</p>
              <p class="email" th:text="#{footer.email}">contacto@viverolaboral.com</p>
          </div>
          <div class="horario">
              <h4 th:text="#{footer.horario.titulo}">Horario</h4>
              <p th:text="#{footer.horario.lunesViernes}">Lunes a Viernes: 9:00 - 20:00</p>
              <p th:text="#{footer.horario.sabados}">Sábados: 10:00 - 14:00</p>
          </div>
          <div class="redes-sociales">
            <a href="#"><img src="img/facebook.png" th:alt="#{social.facebook}" alt="Facebook" /></a>
            <a href="#"><img src="img/x.png" th:alt="#{social.x}" alt="X" /></a>
            <a href="#"><img src="img/instagram.png" th:alt="#{social.instagram}" alt="Instagram" /></a>
          </div>
        </div>
    </footer>
    
</body>
</html>