<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Planta(Admin)</title>
    <link rel="stylesheet" href="css/vivero.css">
    <link rel="stylesheet" href="css/vivero-admin.css">
    <link rel="stylesheet" href="css/plantas-admin.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/error-mensaje.js"></script>
</head>
<body>
    <header>
        <div class="logo" th:text="#{header.logo}">VIVERO CIFP LA LABORAL</div>
        <nav>
            <a href="/inicio-admin" th:text="#{nav.inicio}">INICIO</a>
            <a href="/ejemplares-admin" th:text="#{nav.ejemplares}">EJEMPLARES</a>
            <a href="/fitosanitarios-admin" th:text="#{nav.fitosanitarios}">FITOSANITARIOS</a>
            <a href="/mensajes-admin" th:text="#{nav.mensajes}">MENSAJES</a>
        </nav>
        <nav>
			<a href="?lang=es">Español</a>
			<a href="?lang=en">English</a>
			<a href="?lang=ast">Asturianu</a>
			<a href="?lang=zh">Chino</a>
		</nav>
        <div class="admin-desplegable">
            <div class="circulo-perfil">
                <img src="img/fotoperfil-admin.png" alt="Foto de perfil del admin">
            </div>
            <div class="admin-desplegable-informacion">
				<strong th:text="#{admin.dropdown.admin}">ADMIN</strong> <a
					href="/inicio" th:text="#{admin.dropdown.logout}">Cerrar sesion</a>
				<a href="/anadirpersonal" th:text="#{admin.dropdown.addStaff}">Anadir personal</a>
			</div>
        </div>
    </header>
    
        <div class="cards-container">
            <div class="card anadir">
                <img src="img/anadir-planta.png" alt="Añadir planta">
                <h2 th:text="#{admin.anadirPlanta}">Anadir Planta</h2>
                <p th:text="#{admin.anadirPlanta.descripcion}">Agrega nuevas especies a nuestro catálogo de plantas. Incluye toda la informacion relevante sobre la planta.</p>
                <a href="/plantas-adminAnadir" class="card-button" th:text="#{admin.anadirPlanta}">Anadir Planta</a>
            </div>
    
            <div class="card modificar">
                <img src="img/modificar-planta.png" alt="Modificar planta">
                <h2 th:text="#{admin.modificarPlanta}">Modificar Planta</h2>
                <p th:text="#{admin.modificarPlanta.descripcion}">Actualiza la informacion de las plantas existentes, como nombre, comun o cientifico.</p>
                <a href="/plantas-adminModificar" class="card-button" th:text="#{admin.modificarPlanta}">Modificar Planta</a>
            </div>
    
            <div class="card eliminar">
                <img src="img/eliminar-planta.png" alt="Eliminar planta">
                <h2 th:text="#{admin.eliminarPlanta}">Eliminar Planta</h2>
                <p th:text="#{admin.eliminarPlanta.descripcion}">Elimina plantas del catálogo que ya no esten disponibles.</p>
                <a href="/plantas-adminEliminar" class="card-button" th:text="#{admin.eliminarPlanta}">Eliminar Planta</a>
            </div>
        </div>

        <div id="error" th:text="${error}" style="display: none;"></div>
        <div id="mensaje" th:text="${success}" style="display: none;"></div>

    <footer>
        <div class="footer">
          <div class="footer-info">
              <p class="direccion" th:text="#{footer.direccion}">
                C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijón, Asturias
              </p>
              <p class="telefono" th:text="#{footer.telefono}">+34 634 23 36 87</p>
              <p class="email" th:text="#{footer.email}">contacto@viverolaboral.com</p>
          </div>
          <div class="horario">
              <h4 th:text="#{footer.horario.titulo}">Horario</h4>
              <p th:text="#{footer.horario.lunesViernes}">Lunes a Viernes: 9:00 - 20:00</p>
              <p th:text="#{footer.horario.sabados}">Sábados: 10:00 - 14:00</p>
          </div>
          <div class="redes-sociales">
            <a href="#"><img src="img/facebook.png" th:alt="#{social.facebook}" alt="Facebook" /></a>
            <a href="#"><img src="img/x.png" th:alt="#{social.x}" alt="X" /></a>
            <a href="#"><img src="img/instagram.png" th:alt="#{social.instagram}" alt="Instagram" /></a>
          </div>
        </div>
    </footer>
    
</body>
</html>