<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Planta(Admin)</title>
    <link rel="stylesheet" href="css/vivero.css">
    <link rel="stylesheet" href="css/vivero-admin.css">
    <link rel="stylesheet" href="css/plantas-admin.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <header>
        <div class="logo">VIVERO CIFP LA LABORAL</div>
        <nav>
            <a href="/inicio-admin">INICIO</a>
            <a href="/ejemplares-admin">EJEMPLARES</a>
            <a href="/fitosanitarios-admin">FITOSANITARIOS</a>
            <a href="/mensajes-admin">MENSAJES</a>
        </nav>
        <div class="admin-desplegable">
            <div class="circulo-perfil">
                <img src="img/fotoperfil-admin.png" alt="Foto de perfil del admin">
            </div>
            <div class="admin-desplegable-informacion">
                <strong>ADMIN</strong>
                <a href="/inicio">Cerrar sesión</a>
                <a href="/anadirpersonal">Añadir personal</a>
            </div>
        </div>
    </header>
    
        <div class="cards-container">
            <div class="card anadir">
                <img src="img/anadir-planta.png" alt="Añadir planta">
                <h2>Añadir Planta</h2>
                <p>Agrega nuevas especies a nuestro catálogo de plantas. Incluye toda la información relevante sobre la planta.</p>
                <a href="/plantas-adminAnadir" class="card-button">Añadir Nueva Planta</a>
            </div>
    
            <div class="card modificar">
                <img src="img/modificar-planta.png" alt="Modificar planta">
                <h2>Modificar Planta</h2>
                <p>Actualiza la información de las plantas existentes, como nombre, común o científico.</p>
                <a href="/plantas-adminModificar" class="card-button">Modificar Planta</a>
            </div>
    
            <div class="card eliminar">
                <img src="img/eliminar-planta.png" alt="Eliminar planta">
                <h2>Eliminar Planta</h2>
                <p>Elimina plantas del catálogo que ya no estén disponibles.</p>
                <a href="/plantas-adminEliminar" class="card-button">Eliminar Planta</a>
            </div>
        </div>
    

    <footer>
        <div class="footer">
          <div class="footer-info">
              <p class="direccion">C. Luis Moya Blanco, Periurbano - Rural, 33203 Gijón, Asturias</p>
              <p class="telefono">+34 634 23 36 87</p>
              <p class="email">contacto@viverolaboral.com</p>
          </div>
          <div class="horario">
              <h4>Horario</h4>
              <p>Lunes a Viernes: 9:00 - 20:00</p>
              <p>Sábados: 10:00 - 14:00</p>
          </div>
          <div class="redes-sociales">
            <a href="#"><img src="img/facebook.png" alt="Facebook" /></a>
            <a href="#"><img src="img/x.png" alt="X" /></a>
            <a href="#"><img src="img/instagram.png" alt="Instagram" /></a>
          </div>
        </div>
    </footer>
    
</body>
</html>