body {
    line-height: 1.6;
    padding: 0;
    background-color:#4a8c3c;
}

.titulos {
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.filtro-formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto;
    width: 50%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.filtro-grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtro-label {
    font-size: 1rem;
    color: #555;
}

.filtro-select,
.filtro-input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    transition: border-color 0.3s ease;
}

.filtro-select:focus,
.filtro-input:focus {
    border-color: #4CAF50;
    outline: none;
}

.filtro-button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filtro-button:hover {
    background-color: #45a049;
}

.contenedor-listado {
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem 0;
    max-width: none;
    width: 100%;
    box-sizing: border-box; 
}

.contenedor-listado p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.tabla-mensajes {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #6ab04c;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.tabla-mensajes th,
.tabla-mensajes td {
    padding: 15px;
    text-align: center;
}

.tabla-mensajes thead {
    background: #2ecc71;
}

.tabla-mensajes tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tabla-mensajes tbody tr:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
    transition: transform 0.2s ease;
}